#defaultCanvas0 {
background-attachment: fixed;
background-position: center;
position: fixed;
bottom: 0px;
left: 0px;
z-index: -1;
width:100%;
}

.topDiv{
text-align:center;
font-family: "Nunito";
font-size: 200px;
text-decoration-line: underline;
color: rgb(253, 252, 252);
bottom: 200px;
}
.playDiv {
height: 200px;
width: 200px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
colormode: difference;
margin: auto;
top: 0px;
bottom: 0px;
font-size: 10vw;
text-decoration-line: underline;
position: fixed;
z-index: 1;
width:100%;
}
.play{
z-index: 3;
}


.gifRecording {
left: 1000px;
position: absolute;
z-index: 1;
}
